<div id="banner">
		<div class="container">
			<div class="row">
				<div class="6u 12u(mobile)">
				<!-- Banner Copy -->
						<p>Changing the world can be a good mission, but we want to influence and inspire the souls 
							living in it through the power of Art...
						</p>
						<a href="https://www.instagram.com/artifexnest" target="_blank" class="button-big">Our Instagram</a>
				</div>
				<div class="6u 12u(mobile)">
					<!-- Banner Image -->
						<a href="#" class="bordered-feature-image"><img src="{{ site.url }}/images/banner.jpg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
