<!-- Features -->
<div id="features-wrapper">
	<div id="features">
		<div class="container">
			<div class="row">
				<div class="3u 12u(mobile)">
					<!-- Feature #1 -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="{{ site.url }}/images/bnr.jpg" alt="" /></a>
							<h2>We love <i>ART</i></h2>
							<p>
								The variety of <strong>Art</strong> is what captures the 
								heart. We want to build nest that has room enough for all the 
								genres, so we could see all the colors of <strong>Art</strong> 
								at one platform.
							</p>
						</section>
				</div>
				<div class="3u 12u(mobile)">
					<!-- Feature #2 -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="{{ site.url }}/images/gb.jpg" alt="" /></a>
							<h2>Letico Fanaticus</h2>
							<p>
								A reading club to instill the love of reading and to help you pick up 
								your next book.
							</p>
						</section>

				</div>
				<div class="3u 12u(mobile)">
					<!-- Feature #3 -->
						<section>
							<a href="#" class="bordered-feature-image"><img src="{{ site.url }}/images/gulaabo.jpg" alt="" /></a>
							<h2>गुलाबो के दिल से आपके दिल तक</h2>
							<p>
								गुलाबो is a voice from behind 
								the घूंघट who speaks her heart 
								out from the platform of Artifex Nest. 
								Don't fall in love with her because she 
								is committed to her "ए जी" 🌺

							</p>
						</section>

				</div>
				<!-- <div class="3u 12u(mobile)">
					
						<section>
							<a href="#" class="bordered-feature-image"><img src="{{ site.url }}/images/pic04.jpg" alt="" /></a>
							<h2>Volutpat etiam aliquam</h2>
							<p>
								Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse
								eu varius nibh. Suspendisse vitae magna eget odio amet mollis.
							</p>
						</section>
				</div> -->
			</div>
		</div>
	</div>
</div>
